certifi==2020.6.20
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
ibm-db-sa==0.3.5
ipython-sql==0.4.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
MarkupSafe==1.1.1
numpy==1.19.0
opencv-contrib-python-headless==4.2.0.34
opencv-python==4.2.0.34
opencv-python-headless==4.2.0.34
prettytable==0.7.2
PyWavelets==1.1.1
scikit-learn==0.22
scipy==1.5.0
sqlparse==0.3.1
threadpoolctl==2.1.0
Werkzeug==1.0.1
wincertstore==0.2
