<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!-- Custom CSS-->
    <link rel="stylesheet" href="{{url_for('static',filename='lib/style23.css')}}" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{url_for('static',filename='favicon.png')}}" />

    <title>Celebrity Face Recognition</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark justify-content-center">
        <a class="navbar-brand" href="{{url_for('index')}}">Sports Person Classifier</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col card-wrapper" data-player="lionel_messi">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{url_for('static',filename='messi.jpg')}}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase title">Lionel Messi</h4>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col card-wrapper" data-player="maria_sharapova">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{url_for('static',filename='sharapova.jpg')}}"
                            alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Maria Sharapova</h4>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col card-wrapper" data-player="roger_federer">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{url_for('static',filename='federer.jpg')}}"
                            alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Roger Federer</h4>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col card-wrapper" data-player="serena_williams">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{url_for('static',filename='serena.jpg')}}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Serena Williams</h4>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col card-wrapper" data-player="virat_kohli">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{url_for('static',filename='virat.jpg')}}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Virat Kohli</h4>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row selectImage text-center">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <form action="/prediction" enctype="multipart/form-data" runat="server" method="POST"
                            class="form">
                            <div class="image form-group">
                                <label for="inp" class="btn btn-secondary">Uplaod Image</label>
                                <input autocomplete="off" id="inp" style="visibility: hidden;" type='file'>
                                <input name="b64" type="textarea" id="b64">
                                <img id="img">
                            </div>
                            <div class="row mt-3">
                                <div class="col-3 mx-auto">
                                    <input type="submit" id="submitBtn" class="btn btn-primary"
                                        value="Classify Celebrity">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!--Custom JavaScript-->
<script src="{{url_for('static',filename='lib/script9.js')}}"></script>

</html>